.outercontainer{
    width: 800px;
    margin:0 auto;
    height: 100%;
    color: #444;    
}
.searchbox{
    margin:40px 0 0 26.5% ;
    padding: 0pt 0pt 0pt 2px; 
    width: 47.5%; 
    height:25px; 
    outline: medium none; 
    overflow: hidden; 
    z-index: 5;
}
.searchtitle{
    margin:25% 0 0 31%;
}
.searchtitle h3{
    display:inline;
    padding-right: 2px;
    font-family: 'Rochester', cursive;
    font-size:60px;
}
.initialsearchtext{
    font-style:italic;
    font-family:Helvetica;
    color: #777;
}
.searchbutton{
    background-color: #D14836;/* #F5F5F5;*/
    color:white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    font-size: 13px;
    font-family:Helvetica;
    font-weight: bold;
    height: 29px;
    line-height: 27px;
    margin: 3% 43%;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
    width: 15%;
}
#about{
    margin-left:88%; 
    cursor:pointer;
}
#aboutmodal{
    display:none;
    width:325px;
    height:200px;
    color:#bbb;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
    font-size:15px;
}
#simplemodal-overlay {background-color:#000;}
#simplemodal-container {background-color:#333; border:8px solid #444; padding:12px;}
