body{
    font-family:Helvetica;
    font-size:12px;
}
.outercontainer{
    width: 800px;
    margin:0 auto;
    height: 100%;
    color: #444;    
}
.searchbox{
    margin:25px 0 0 20% ;
    padding: 0pt 0pt 0pt 2px; 
    width: 47.5%; 
    height:25px; 
    outline: medium none; 
    overflow: hidden; 
    z-index: 5;
}
.searchtitle{
    margin:0 0 0 31%;
}
.searchtitle h3{
    display:inline;
    padding-right: 2px;
    font-family: 'Rochester', cursive;
    font-size:60px;
}
.initialsearchtext{
    font-style:italic;
    font-family:Helvetica;
    color: #777;
}
.searchbuttonwrapper{
    float:right;
}
.searchbutton{
    background-color: #D14836;/* #F5F5F5;*/
    color:white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    height: 29px;
    line-height: 27px;
    margin: 22px 100px 0 0;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
    width: 15%;
}
#resultscontainer{
    margin-top:50px;        
    padding-top:30px;
}
.videoresult{
    padding-top:20px;
}
.thumb{
    float:left;
    width: 128px;
}
.thumb a{
    width: 128px;
}
.thumbimage{
    height:90px;
    width: 120px;
    border: 1px solid lightGrey;
    border-radius: 3px;
    -moz-border-radius: 3px;
}
#resultscontainer{
    margin: 0 auto;
    width:600px;
    
}
.videoresult{
    height:90px;
}
.videoresulttitle{
    float:left;
    margin-left: 10px;
}
h3.videoresulttitle{
    margin: 3px 0 0 12px;
    font-size:13px;
}
p.videoresultdesc {
    margin: 22px 0 0 12px;
    height:50px;
    overflow:hidden;
    font-size: 0.916667em; /*11px/12*/
    width:96%;
}
.videoresultcontent{
    float:left;
    width: 470px;
    background-color:#EEE;
}
p.videoresultowner{
    margin: 0 0 5px 12px;
}
.video-time{
    padding: 0 4px;
    font-weight: bold;
    font-size: 11px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: black;
    color: white!important;
    height: 14px;
    line-height: 14px;
    opacity: 0.75;
    filter: alpha(opacity=75);
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    position:relative;
    top:-24px;
    right:-90px;
}

