.outercontainer{
    width: 800px;
    margin:0 auto;
    height: 100%;
    color: #444;    
}
.searchbox{
    margin:40px 0 0 26.5% ;
    padding: 0pt 0pt 0pt 2px; 
    width: 47.5%; 
    height:25px; 
    outline: medium none; 
    overflow: hidden; 
    z-index: 5;
}

.searchtitle{
    margin:35% 0 0 31%;
}
.searchtitle h3{
    display:inline;
    padding-right: 2px;
    font-family: 'Rochester', cursive;
    font-size:60px;
}
.initialsearchtext{
    font-style:italic;
    font-family:Helvetica;
    color: #777;
}
.fullviewbutton{
    background-color: #D14836;/* #F5F5F5;*/
    color:white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    font-family:Arial;
    font-size: 13px;
    font-weight: bold;
    height: 29px;
    line-height: 27px;
    margin: 15px auto;
    min-width: 90px;
    padding: 0 8px;
    text-align: center;
    width:42%;
}
.fullviewbutton a{
    text-decoration:none;
    color:white;
}
#backtosearch{
    background-color: #D14836;/* #F5F5F5;*/
    color:white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    font-family:Arial;
    font-size: 13px;
    font-weight: bold;
    height: 29px;
    line-height: 27px;
    margin: 15px auto;
    min-width: 90px;
    padding: 0 8px;
    text-align: center;
    width:13%;
}

.videocontainer{
    padding:5px;
    margin: 0 auto;
    width: 650px;
}
.mycaption span{
    padding-left: 3px;
    padding-right: 3px;
    /*font-size: 30px;
    font-family: "Helvetica";
    color: #eee;
    -moz-border-radius: 4px;
    border-radius: 4px;*/
    display: inline-block;
    *display: inline;/*IE7 browser hack */
    /**width:700px; /*IE7 browser hack - is there a better way*/
    cursor: pointer;
}
.mycaption{
    display: block;
    letter-spacing: .06em;
    line-height: 1.4em;
    text-shadow: 0 2px 1px black,-1px 3px 1px black,-2px 2px 1px black,-2px 1px 1px black,-2px 0 1px black,2px 2px 1px black,1px 2px 1px black,0px -2px 1px black,2px -2px 1px black,-2px -1px 1px black,-1px -3px 1px black,-3px -2px 1px black;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 14px;
    text-align: center;
    color: white;
    font-weight: normal;
    background: url("../images/caption_bg.png");
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 10px 3px;

    width:400px;
    position:absolute;
    /*top:-133px;
    left:200px;*/
    margin-top:-100px;
    margin-left:128px;
    *display:inline;
    *width:600px;
    *margin-left:-625px;
    *margin-top:405px; 
    
}
/*#captionsContainer{
	
	width: 700px;
	margin: 0 auto;
	background-color:black;
	height: auto;
	margin-top: 5px;
	padding:5px;
	
}*/
.selectedCaption{
	border: 1px solid #ff9;
	-moz-border-radius: 4px;
	border-radius: 4px;	
}
#previous{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    font-size: 11px;
    font-weight: bold;
    height: 18px/*29px*/;
    line-height: 14px/*27px*/;
    margin-left: 47px;
    min-width: 54px;
    padding: 0 8px;
    text-align: center;
    width: 15%;

    position:relative;
    top:-34px;
    left:200px;
    display:none;
    *top:-29px;
}
#previous.enabled{
    background-color: #D14836;/* #F5F5F5;*/
    color:white;
}
#imgWrapper{
    display:none;
}
#aslWrapper{
    background-color:white; 
    opacity:1; 
    width: 240px; 
    height:200px; 
    right:10px; 
    position:fixed; 
    background-position:center;
    background-repeat:no-repeat;
    border-radius: 6px;
    -moz-border-radius: 6px; 
    z-index:1000;
     border: 2px black solid;
}
#iframe-0{
    margin-left:-10px;
    height:180px;
    width:220px;
}
.comments{
    width: 41%;
    margin: 42px auto 0 auto;
    background-color: #EEE;
    padding: 20px;
    font-family: Arial;
    font-size: 0.875em;
}
.footer{
    position: fixed;
    height: 26px;
    width: 99%;
    bottom: 0px;
    z-index: 3;
    background-color: #EBEBEB;
    padding-top: 3px;
}
.footercontent{
    bottom: 0px;
    height: 25px;
    position: absolute;
    width:100%;
    font-family:Arial;
    font-size: 0.875em; /*14/16*/
    padding-bottom:3px;
}
.social{
    float:left;
    padding-left:20px;
    padding-top:3px;
    margin: 0px 10px;
}
.social .fb{
    display:inline-block;
    vertical-align:3px;
}
.info a{
    color: #666;
    margin: 0px 10px;
    text-decoration:none;
}
.info{
    float:right;
    margin-right:20px;
    padding-top:3px;
    
}
.turnoffcc{
	font-family:Helvetica;
	width:400px;
	margin: 0 auto;
	font-size:0.8em;
}

